@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@font-face {
	font-family: ArcaMajora;
	src: url(./fonts/ArcaMajora3-Bold.otf);
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.notification-cont {
	background: #fbfbfb;
	padding-top: 10px;
}
.navbar__notification_center h1 {
	font-family: " Oswald", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 168%;
	/* or 20px */

	text-align: center;
	letter-spacing: 0.16em;
	text-transform: uppercase;

	/* Primary/Black */

	color: #000000;
}
.nav-header {
	padding-left: 0;
	padding-right: 0;
}
.nav-header__icons_end img {
	width: 16px;

	padding: 0;
	margin-right: 20px;
}
ul {
	list-style: none;
	margin: 0;
}

ul li a {
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 140%;
	/* identical to box height, or 17px */
	color: #000000;
	letter-spacing: 0.175em;
	text-transform: uppercase;
}
img.col-sm-2 {
	cursor: pointer;
}

.main-section__wrapper {
	background: #000000;
	overflow: hidden;
}

.main-section__wrapper {
	background-size: 25%;
	background-image: linear-gradient(
		to right,
		rgba(194, 165, 120, 0.14) 0.5px,
		transparent 0.5px
	);
	animation: gridWipe 3s linear;
}
@keyframes gridWipe {
	0% {
		background-size: 0 0;
	}
	100% {
		background-size: 100% 100%;
	}
}

.main-section__row {
	height: 620px;
}
.row.second {
	margin-top: 80px;
}
.row.third {
	margin: 160px 0 80px;
}
.main-section__text-container {
	color: white;
	font-family: Open Sans;
}
.main-section__text-container h1 {
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 130%;
	/* or 36px */
	margin: 55px 0 126px 0;
	letter-spacing: 0.08em;
	text-transform: uppercase;
}
.main-section__text-container p {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 167.5%;
	margin-bottom: 80px;
}
.main-section__text-container.need-know p {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	margin-bottom: 25px;
}
.main-section__text-container.info {
	padding: 0 100px;
}
.main-section__text-container.info h1 {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 143%;
	/* or 57px */

	letter-spacing: 0.18em;
	text-transform: uppercase;
}
.need-know {
	padding-left: 100px;
}
.mobile-nav__row_invisible {
	position: fixed;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
}
.mobile-nav__row_invisible.visible {
	display: flex !important;
	transition: all ease 0.25s;
}
svg {
	fill: white;
	width: 20px;
}
.mobile-nav__menu {
	background-color: #000000e6;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.menu__nav ul {
	padding: 0;
}
.menu__nav ul li {
	margin-bottom: 25px;
}
.menu__nav ul li a {
	color: white;
}
.fa-user {
	font-size: 16px;
}
.mobile-nav__menu-outer {
	background-color: #10101047;
	height: 100%;
}

.info-list ul {
	list-style: none;
	font-family: ArcaMajora;
	font-style: normal;
	font-weight: bold;
	padding-left: 16px;
	font-size: 16px;
}
.info-list ul li {
	list-style-image: url(./img/shapes/slash.svg);
	margin-bottom: 16px;
}
.main-section__img-container {
	position: relative;
	padding: 0;
}
.main-section__img-container img {
	position: absolute;
	z-index: 1;
	right: -20%;
	top: 0;
}
.main-section__img-container .fitness-girls {
	position: static;
	width: 100%;
	object-fit: cover;
}
.main-section__img-container .ellipse-shape-cont {
	position: relative;
	height: 100%;
}
.main-section__img-container .ellipse {
	top: 50%;
	left: 62%;
	z-index: 0;
	transform: translate(-50%, -50%);
}

/*@media (max-width: 450px) {*/
/*	.dumbbell-img-cont{*/
/*		height: 350px;*/
/*	}*/
/*	.main-section__img-container .dumbbell{*/
/*		width: fit-content;*/
/*		right: 0;*/
/*	}*/
/*	.main-section__img-container .ellipse {*/

/*	}*/
/*}*/

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
	display: flex;
}
.splide__slide {
	padding: 0 8px;
}

/* medium and up screens */
@media (min-width: 768px) {
	.carousel-inner .carousel-item-end.active,
	.carousel-inner .carousel-item-next {
		transform: translateX(25%);
	}

	.carousel-inner .carousel-item-start.active,
	.carousel-inner .carousel-item-prev {
		transform: translateX(-25%);
	}
}
.slider-container {
	margin: 80px 0 50px 0;
}
.slider-container h1 {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 130%;
	/* or 36px */

	letter-spacing: 0.08em;
	text-transform: uppercase;
}
.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
	transform: translateX(0);
}
.col-md-3 {
	padding: 8px;
}
.carousel-control-prev,
.carousel-control-next {
	display: none;
}
.card {
	border: none;
}
.card .card-img {
	position: relative;
}
.card-img p {
	position: absolute;
	background-color: white;
	top: 8px;
	left: 8px;
	padding: 4px 6px;
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 167.5%;
}
.card .buy-button-cont {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
}
.card:hover .buy-button-cont {
	display: block;
	background-color: rgba(0, 0, 0, 0.29);
}
.buy-button-cont p {
	cursor: pointer;
	font-weight: 800;
	padding: 8px 20px;
	border-radius: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.card .product-name {
	margin-bottom: 0;
}
.card h6 {
	font-family: Oswald;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 168%;
	/* or 20px */

	letter-spacing: 0.16em;
	text-transform: uppercase;
	margin: 6px 0;
}

.stars ul {
	display: flex;
	padding: 0;
}
footer {
	background: #f1f1f1;
	position: relative;
	overflow: hidden;
}
.footer__row {
	padding: 80px 80px 24px 80px;
	z-index: 1;
	position: relative;
}
.newsletter {
	margin-bottom: 40px;
}
.newsletter ul {
	display: flex;
	padding: 0;
}
.newsletter ul li {
	margin: 0 20px 0 0;
}
.newsletter ul li a {
	cursor: pointer;
}
.footer-links__list p {
	margin-bottom: 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
.footer-links__list ul {
	display: flex;
	flex-direction: column;
	padding: 0;
}
.footer-links__list ul li {
	margin-bottom: 12px;
}
.footer-links__list ul li a {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 167.5%;
	/* or 23px */

	color: #7e7e7e;
}
.form-label {
	margin-bottom: 30px;
}
.form-control1 {
	display: block;
	background-color: #fff0;
	background-clip: padding-box;
	border: none;
	border-bottom: 1px solid #ced4da;
	border-radius: 0;

	width: 460px;
	padding: 0 0 12px 0;
	outline: none;
}
.input-field {
	position: relative;
	width: 460px;
}
.form-control1:focus {
	background-color: #fff0;
	outline: none;
	border: none;
	border-bottom: 1px solid #ced4da;
}

.footer-background {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.arrow-for-input {
	position: absolute;
	top: 40%;
	transform: translate(0, -50%);
	right: 0;
	cursor: pointer;
}
.copyright h6 {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 167.5%;
	/* identical to box height, or 20px */

	/* AF/Grey */

	color: #c4c4c4;
}
@media (max-width: 1400px) {
	.main-section__img-container .ellipse {
		left: 58%;
	}
	.main-section__img-container .ellipse.inner {
		width: 460px;
	}
	.main-section__img-container .ellipse.outer {
		width: 490px;
	}
	.main-section__img-container .dumbbell {
		width: 650px;
		right: -21%;
		top: 5%;
	}
}
@media (max-width: 1200px) {
	.main-section__text-container.info {
		padding: 0 50px;
	}
	.main-section__img-container .dumbbell {
		width: 550px;
		right: -24%;
		top: 13%;
		transform: translateY(-50%);
	}
	.main-section__img-container .ellipse {
		left: 60%;
	}
	.main-section__img-container .ellipse.inner {
		width: 400px;
	}
	.main-section__img-container .ellipse.outer {
		width: 430px;
	}
	.input-field,
	.form-control1 {
		width: 300px;
		font-size: 12px;
	}
}

@media (max-width: 992px) {
	.main-section__row {
		height: auto;
	}
	.main-section__text-container h1 {
		font-weight: 600;
		font-size: 18px;
		line-height: 130%;
		margin: 45px 0 50px 0;
	}
	.main-section__text-container p {
		font-size: 12px;
		line-height: 167.5%;
		margin-bottom: 40px;
	}
	.main-section__img-container .dumbbell {
		width: 480px;
		right: -40%;
		top: 4%;
		transform: translateY(-50%);
	}
	.main-section__img-container .ellipse {
		left: 70%;
	}
	.main-section__img-container .ellipse.inner {
		width: 350px;
	}
	.main-section__img-container .ellipse.outer {
		width: 380px;
	}
	.row.third {
		margin: 80px 0 40px;
	}
	.mobile-nav_invisible {
		display: block !important;
	}
	.nav-header {
		display: none;
	}
	.main-section__text-container.info {
		padding: 0;
	}
	.main-section__text-container.info h1 {
		font-size: 25px;
	}
	.row.second {
		padding-top: 40px;
		margin: 0;
	}
	.need-know {
		padding-left: 40px;
	}
	.main-section__text-container.need-know p,
	.info-list ul li {
		font-size: 12px;
	}
	.input-field,
	.form-control1 {
		width: 200px;
	}
	.footer-links__list ul.closed {
		display: none;
	}

	.footer-links__list ul li a {
		font-size: 12px;
	}
	.footer__row {
		padding: 40px 40px 24px 40px;
	}
	.fas.fa-minus {
		display: inline !important;
	}
}
@media (max-width: 767px) {
	.main-section__wrapper {
		background-image: none;
	}
	.main-section__text-container h1 {
		margin-bottom: 24px;
	}
	.main-section__text-container p {
		margin-bottom: 19px;
	}
	.main-section__text-container.need-know {
		padding: 0;
	}
	.main-section__img-container {
		margin-bottom: 24px;
	}
	.main-section__img-container .dumbbell {
		width: 350px;
		right: -45%;
		top: 15%;
		transform: translateY(-50%);
	}
	.main-section__img-container .ellipse.inner {
		width: 280px;
	}
	.main-section__img-container .ellipse.outer {
		width: 300px;
	}
	.row.third {
		margin: 0;
	}

	.carousel-control-prev,
	.carousel-control-next {
		display: flex !important;
	}
	.carousel-control-next-icon,
	.carousel-control-prev-icon {
		background-color: #505050;
	}
	.carousel-inner .carousel-item > div {
		display: none;
	}
	.carousel-inner .carousel-item > div:first-child,
	.carousel-inner .carousel-item > div:nth-child(2) {
		display: block;
	}
	.footer-background {
		top: 100%;
		left: 50%;
		transform: translate(-50%, -60%);
	}
	.slider-container .row {
		margin-bottom: 0 !important;
	}
	.slider-container h1 {
		font-size: 14px;
		line-height: 168%;
		/* identical to box height, or 24px */

		letter-spacing: 0.1em;
		text-transform: uppercase;
	}
	.footer-links__list p {
		margin: 25px 0 14px;
	}
}
@media (max-width: 576px) {
	.need-know {
		padding: 0 0.5rem;
		margin-top: 24px;
	}
	.main-section__text-container.info {
		padding: 0 0.5rem;
	}
	.info h1 {
		letter-spacing: 0.08em;
		margin-top: 0;
	}
	.dumbbell-img-cont {
		height: 350px;
		padding: 0;
	}
	.ellipse-shape-cont {
		position: absolute !important;
		top: 0;
		right: 0;
		width: 100%;
	}
	.main-section__img-container .ellipse {
		position: absolute;
		top: 50%;
		left: 50%;
	}
	.main-section__img-container .ellipse.inner {
		width: 80%;
	}
	.main-section__img-container .ellipse.outer {
		width: 75%;
	}
	.ellipse-shape {
		position: relative;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}

	.main-section__img-container .dumbbell {
		/*width: 450px;*/
		position: sticky;
		z-index: 2;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.slider-container {
		margin-top: 40px;
	}
}
